<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<header>

	<title>{% block title %}{% endblock %}</title>

{% include 'topmenu.html' %}

</header>
</head>


<body>

<div>
	<div class="menu">
		<ul>
			<li class="subject">METHODS</li>
			<li {% if section == "func_graph" %}class="active"{% endif %}><a href="">Functions and Graphs</a>
				<ul>
					<li><a href="{% url "cubic_graphs" %}">Cubic Graphs</a></li>
					<li><a href="{% url "exp_log_graphs" %}">Exponential and Log Graphs</a></li>
					<li><a href="{% url "inverses1" %}">Inverses 1</a></li>
					<li><a href="{% url "simul_eqs" %}">Simultaneous Equations: Number of Solutions</a></li>
					<li><a href="{% url "matrix_mult" %}">Matrix Multiplication</a></li>
					<li><a href="{% url "matrix_transforms" %}">Matrix Transformations</a></li>
				</ul>
			</li>

			<li {% if section == "trig" %}class="active"{% endif %}><a href="">Trigonometry (Circular Function)</a>
				<ul>
					
					<li><a href="{% url "exact_values" %}">Exact Values</a></li>
					<li><a href="{% url "trig_eqs" %}">Solving Trig Equations</a></li>
					<li><a href="{% url "general_sols" %}">General Solutions</a></li>
					<li><a href="{% url "sin_cos_without_horiz" %}">Sin and Cos Graph without Horizontal Translation</a></li>
					<li><a href="{% url "sin_cos_with_horiz" %}">Sin and Cos Graph with Horizontal Translation</a></li>
					<li><a href="{% url "tan_graphs" %}">Tan Graphs</a></li>
				</ul>
			</li>

			<li {% if section == "dif" %}class="active"{% endif %}><a href="">Calculus: Differentiation</a>
				<ul>
					<li><a href="{% url "dif_first_princ" %}">Differentiation by First Principles</a></li>
					<li><a href="{% url "limits" %}">Limits</a></li>
					<li><a href="{% url "dif_rule" %}">Differentiation by Rule</a></li>
					<li><a href="{% url "chain_rule" %}">Chain Rule</a></li>
					<li><a href="{% url "prod_rule" %}">Product Rule</a></li>
					<li><a href="{% url "quot_rule" %}">Quotient Rule</a></li>
					<li><a href="{% url "stat_points" %}">Finding Stationary Points</a></li>
					<li><a href="{% url "tangents_normals" %}">Tangents and Normals</a></li>
					<li><a href="{% url "der_antider_graph" %}">Derivative or Antiderivative from graph</a></li>
				</ul>
			</li>

			<li {% if section == "antidif" %}class="active"{% endif %}><a href="">Calculus: Antidifferentiation</a>
				<ul>
					<li><a href="{% url "antidif_rule" %}">Antidifferentiation by Rule</a></li>
					<li><a href="{% url "int_recog" %}">Integration by Recognition</a></li>
				</ul>
			</li>

			<li {% if section == "discrete" %}class="active"{% endif %}><a href="">Discrete Probability</a>
				<ul>
					<li><a href="{% url "measures_centre" %}">Measures of Centre</a></li>
					<li><a href="{% url "measures_spread" %}">Measures of Spread</a></li>
					<li><a href="{% url "indep_events" %}">Independant events</a></li>
					<li><a href="{% url "mut_excl_events" %}"">Mutually exclusive events</a></li>
					<li><a href="{% url "cond_prob" %}">Conditional Probability</a></li>
					<li><a href="{% url "combinatorics" %}">Combinatorics</a></li>
				</ul>
			</li>

			<li {% if section == "prob_dist" %}class="active"{% endif %}><a href="">Binomial, Continuous and Normal Distributions</a>
				<ul>
					<li><a href="{% url "binom_dist" %}">Binomial Distributions</a></li>
					<li><a href="{% url "finding_samp_size" %}">Binomial: Finding Sample Size</a></li>
					<li><a href="{% url "cont_dist" %}">Continuous Distributions</a></li>
					<li><a href="{% url "norm_dist" %}">Normal Distributions</a></li>
					<li><a href="{% url "stand_norm" %}">Standard Normal Distribution</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>






{% block content %}

{% endblock %}




</body>


</html>
