
html {
    min-height: 100%;
    font-family: Arial, sans-serif;
}


/******** HEADER / BODY ********/



@font-face {
    font-family: 'sanserifing';
    src:url("fonts/sanserifing.ttf");
}

header, footer {
    margin: 0px;
    color: white;
    background-color: #333333;
}
@media (min-width: 600px) {
header, footer {
    background-image: url("grey.jpg");
    background-size: cover;
}
}

header h1 {
    margin: 0px;
    padding: 10px 0px 5px 20px;
    font-family: 'sanserifing', 'Flamenco';
    font-size: 40px;
}
@media (min-width: 500px) {
header h1 {
    font-size: 50px;
}
} 
@media (min-width: 1024px) {
header h1 {
    font-size: 70px;
}
} 

header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:active {
    color: white;
    text-decoration: none;
}

body { 
    background: #79C2FF;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    width: 100%;
    min-height: 100%;
    font-family: 'Quicksand';
}
@media (min-width: 600px) {
    body { 
    background-image: url("blue.jpg");
    background-size: cover; 
}
}




/******** TOP NAV ********/


/*Orignal menu customised for mobile */

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    display: none;
}

nav li {
    font-family: 'Poppins';
    font-size: 18px;
    color: white;
}
@media (min-width: 1024px) {
nav li {
    font-size: 20px;
}
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    background: #BC81FF;
}

nav li li {
	position: relative;
	border-top: 1px solid white;
    border-bottom: 1px solid white;
}

nav li li a {
	text-align: center;
	text-decoration: none;
	width: 100%;
	display: block;
	background: #444444;
}

nav ul ul {
	visibility: hidden;
    display: none;
}

nav ul li:hover ul {
	visibility: visible;
    display: block;
}

.topnav li:hover > ul{
    z-index: 1000;
}

.active {
    background: #0FE392;
} /* Also for sidenav */

#menu-toggle {display: none;}

#menu-toggle:checked ~ ul {
    display: block;
}

.label-toggle {
    display: block;
    float: right;
}



/* Change menu for desktop (show nav, hide menu icon)*/
@media (min-width : 600px) {
nav ul {
    float: right;
    display: block;
}
nav li {
    float: left;
}
nav li a {
    padding: 15px;
}
nav li li {
    border-bottom: none;
}
nav li li a {
    width: 168px;  
}
nav ul ul {
    position: absolute;
}
.label-toggle {display: none;}
}




/******** LOGIN / SIGNUP BAR ********/

.login {
    color: white;
    margin: 0px;
    padding: 20px 20px 0px 0px;
    list-style-type: none;
    text-decoration: none;
    float: right;
    font-family: 'Quicksand';
    font-weight: bold;
}

.login li {
    display: inline;
    padding: 5px;
}

.login li a {
    text-decoration: none;
    color: white;
}

.login li a:hover {
    color: #BC81FF;
}


/******** SIDE MENU ********/

.menu ul {
    list-style-type: none;
    margin: 0px 50px 0px 0px;
    padding: 0;
    width: 320px;
    background: white;
}

.menu ul li {
    padding: 17px 22px;
    position: relative;
    display: block;
    text-decoration: none;
    border-bottom: 2px solid #333333;
    border-right: 4px solid #BC81FF;
    font-family: 'Comfortaa';
    font-size: 17px;
}

.menu ul li:hover:not(.subject) {
    background: #BC81FF;
    display: block;
}

.menu ul ul {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -2%;
    border-left: 3px solid #616161;
}

.menu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    display: block;
    z-index: 1000;
}

.menu li li {
    border-right: 3px solid #616161;
    padding: 17px;
    font-size: 15px;
}

.menu ul li a {
    color: #333333;
    text-decoration: none;
    display: block;
}

.menu {
    float: left;
}

.subject {
    background: #999;
}





/******** FORMS ********/


form {
    font-family: 'Comfortaa';
    display: flex;
    flex-direction: column;
    align-items: left;
}

form label {
    font-size: 16px;
    margin: 40px 0px 4px 0px;
    font-family: inherit;
}

form .help-text {
    color: #F5F5F5;
    font-size: 12px;
    margin-top: 2px;
}

form .errorlist {
    color: red;
    font-weight: bold;
    font-size: 16px;
    list-style-type: none;
    margin-top: 4px;
}

form input, form textarea {
    font-size: 16px;
    width: 100%;
    background: white;
    border: 1px solid black;
    padding: 0px 7px;
    margin: 0px 0px 0px 0px;
    color: black;
    border-radius: 6px;
    font-family: inherit;
    box-sizing: border-box;
}

form input:focus, form textarea:focus {
    border-color: blue;
    background-color: #f2f2f2;
}

form textarea {
    padding: 7px 7px;
}

form input {
    height: 30px;
}

button {
    padding: 5px 20px;
    font-size: 14px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
}

button:hover {
    background-color: #BC81FF;
}





/******** VIDEOS ********/

.vid {    
    margin: 0px 50px 35px 0px;
    position: relative;
    padding-bottom: 40%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.vid iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 93%;
}



/******** CONTACT LAYOUT ********/

.contact_container {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
@media (min-width : 850px) {
.contact_container {
    flex-direction: row;
    align-items: stretch;
}
}

.contact_form {
    width: 95%;
    margin-bottom: 50px;
}
@media (min-width : 600px) {
.contact_form {
    width: 60%;
}
}
@media (min-width : 850px) {
.contact_form {
    width: 400px;
}
}

.contact_map {
    width: 60%;
    padding-bottom: 60%;
    height: 0;
    position: relative;
}
@media (min-width : 600px) {
.contact_map {
    width: 60%;
}
}
@media (min-width : 850px) {
.contact_map {
    width: 400px;
    height: 400px;
    padding-bottom: 0px;
}
}

.contact_map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}



/******** HOME/ABOUT/ACOUNTS LAYOUT ********/

.columns {
    padding: 10px;
    margin: 0px auto;
    text-align: center;
}

.box {
    background: white;
    width: 250px;
    height: 300px;
    margin-right: 50px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

.box img {
    max-width: 100%;
    height: auto;
}

img.about, img.tutoring {
    float: left;
    margin: 0px 30px 20px 0px;
    max-width: 90%;
    height: auto;
}

.contactinfo {
    margin-left: 5%;
    display: inline-block;
}

@media (min-width: 768px) {
.my_account {
    display: block;
    width: 60%;
    margin: auto;
}
}

.formwrapper {
    width: 95%;
    margin: auto;
}

@media (min-width : 600px) {
.formwrapper {
    max-width: 400px;
}
}

/******** TEXT STUFF ********/


h2 { /* login/account pages headings */
    font-family: 'Poppins';
    color: white;
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
}

h5 { /* box heading on home page*/
    margin: 0;
    font-family: 'Poppins';
    padding: 0px 10px;
}

p {
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
}
@media (min-width: 1024px) {
p {
    margin-left: 10%;
    margin-right: 10%;
    }
}

p a {
    color: white;
    text-decoration: none;
}

p a:hover {
    color: #BC81FF;
}

section ul li {
    font-size: 20px;
    margin-left: 5%;
}

summary {
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
}

@media (min-width: 1024px) {
p.home, p.videos {
    margin-left: 15%;
    margin-right: 20%;
}
}


/* Centre on large screens, left aligned on mobile etc */
p.center-resize {
    margin-top: 30px;
}
@media (min-width: 600px) {
p.center-resize {
    text-align: center;
}
}



p.homebox {
    margin: 0;
    padding: 3px 10px 0px 10px;
    font-size: 14px;
    overflow: auto;
}

p.homebox a {
    color: #888;
}


blockquote {
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
}






