
/******** HEADER / BODY ********/

@font-face {
    font-family: 'sanserifing';
    src:url("fonts/sanserifing.ttf");
}

header, footer {
    margin: 0px;
    color: white;
    background-color: #333333;
}
@media (min-width: 480px) {
header, footer {
    background-image: url("grey.jpg");
    background-size: cover;
}
}

header h1 {
    margin: 0px;
    padding: 10px 0px 5px 20px;
    font-family: 'sanserifing', 'Flamenco';
    font-size: 50px;   
}
@media (min-width: 1024px) {
header h1 {
    font-size: 70px;
}
} 
@media (max-width: 480px) {
header h1 {
    font-size: 40px;
}
}

header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:active {
    color: white;
    text-decoration: none;
}


body { 
    background: #79C2FF;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    width: 100%;
    font-family: 'Quicksand';
}
@media (min-width: 480px) {
    body { 
    background-image: url("blue.jpg");
}
}

/******** TOP NAV ********/


/*Orignal menu customised for mobile */



nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
}

nav li {
    font-family: 'Poppins';
    font-size: 18px;
    color: white;
}
@media (min-width: 1024px) {
nav li {
    font-size: 20px;
}
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    background: #BC81FF;
}


nav li li {
	position: relative;
	border-top: 1px solid white;
    border-bottom: 1px solid white;
}

nav li li a {
	text-align: center;
	text-decoration: none;
	width: 100%;
	display: block;
	background: #444444;
}

nav ul ul {
	visibility: hidden;
    display: none;
}

nav ul li:hover ul {
	visibility: visible;
    display: block;
}

.topnav li:hover > ul{
    z-index: 1000;
}

.active {
    background: #0FE392;
} /* Also for sidenav */



/* Change menu for desktop */
@media (min-width : 740px) {
nav ul {
    float: right;
}
nav li {
    float: left;
}
nav li a {
    padding: 15px;
}
nav li li {
    border-bottom: none;
}
nav li li a {
    width: 168px;  
}
nav ul ul {
    position: absolute;
}
}



#menu-icon {
    display: none;
    width: 40px;
    height: 40px;
}




@media (max-width : 740px) {
#menu-icon {
    display: inline-block;
    float: right;
}

nav ul {
    display: none;
}

nav:hover > ul {
    display: block;
}
}


/******** LOGIN / SIGNUP BAR ********/

.login {
    color: white;
    margin: 0px;
    padding: 20px 20px 0px 0px;
    list-style-type: none;
    text-decoration: none;
    float: right;
    font-family: 'Quicksand';
    font-weight: bold;
}

.login li {
    display: inline;
    padding: 5px;
}

.login li a {
    text-decoration: none;
    color: white;
}

.login li a:hover {
    color: #BC81FF;
}


/******** SIDE MENU ********/

.menu ul {
    list-style-type: none;
    margin: 0px 50px 0px 0px;
    padding: 0;
    width: 320px;
    background: white;
}

.menu ul li {
    padding: 17px 22px;
    position: relative;
    display: block;
    text-decoration: none;
    border-bottom: 2px solid #333333;
    border-right: 4px solid #BC81FF;
    font-family: 'Comfortaa';
    font-size: 17px;
}

.menu ul li:hover {
    background: #BC81FF;
    display: block;
}

.menu ul ul {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -2%;
    border-left: 3px solid #616161;
}

.menu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    display: block;
    z-index: 1000;
}

.menu li li {
    border-right: 3px solid #616161;
    padding: 17px;
    font-size: 15px;
}

.menu ul li a {
    color: #333333;
    text-decoration: none;
    display: block;
}

.menu {
    float: left;
}

.subject {
    background: #999;
}





/******** FORMS ********/




form label {
    font-size: 16px;
}

form .help-text {
    color: #F5F5F5;
    font-size: 10px;
}

form .errorlist {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

form input {
    font-size: 16px;
}

button {
    padding: 3px;
    margin-left: 13px;
    font-size: 10px;
    background-color: white;
    text-align: center;
}

button:hover {
    background-color: #BC81FF;
}

label {
    display: block;
    margin: 5px 0px 2px 21px;
    width: 200px;
    font-family: 'Comfortaa';
}

input {
    width: 230px;
    height: 30px;
    background: white;
    border: 1px solid black;
    padding: 0px 7px;
    margin: 0px 0px 10px 20px;
    color: black;
    border-radius: 3px;
    font-size: 14px;
}



/******** VIDEOS ********/

.vid {    
    margin: 0px 50px 35px 0px;
    position: relative;
    padding-bottom: 40%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.vid iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 93%;
}


/******** MAP GOOGLE IMBED ********/

.map {
    position: relative;
    overflow: hidden;
    padding-bottom: 35%;
    padding-top: 0;
    height: 0;
    width: 70%;
    margin-left: 15%;
    float: left;
    margin-bottom: 50px;
    display: inline-block;
}

@media (min-width: 768px) {
.map {
    width: 25%;
}
}

.map iframe {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
    left: 0;
}


/******** HOME/ABOUT/CONTACT/MY ACOUNT LAYOUT ********/

.columns {
    padding: 10px;
    margin: 0px auto;
    text-align: center;
}

.box {
    background: white;
    width: 250px;
    height: 300px;
    margin-right: 50px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}

.box img {
    max-width: 100%;
    height: auto;
}

img.about, img.tutoring {
    float: left;
    margin: 0px 30px 20px 0px;
    max-width: 90%;
    height: auto;
}

.contactinfo {
    margin-left: 5%;
    display: inline-block;
}

@media (min-width: 768px) {
.my_account {
    display: block;
    width: 60%;
    margin: auto;
}
}


/******** TEXT STUFF ********/


h2 { /* login/account pages headings */
    font-family: 'Poppins';
    color: white;
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
}

h5 { /* box heading on home page*/
    margin: 0;
    font-family: 'Poppins';
    padding: 0px 10px;
}

p {
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
}
@media (min-width: 1024px) {
p {
    margin-left: 10%;
    margin-right: 10%;
    }
}

p a {
    color: white;
    text-decoration: none;
}

p a:hover {
    color: #BC81FF;
}

section ul li {
    font-size: 20px;
    margin-left: 5%;
}

summary {
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
}

@media (min-width: 1024px) {
p.home, p.videos {
    margin-left: 15%;
    margin-right: 20%;
}
}

p.home, p.videos, p.loginpage, p.logout, p.password, p.signedup, p.contact,p.about, p.tutoring {
    margin-top: 30px;
}
@media (min-width: 480px) {
p.home, p.videos, p.loginpage, p.logout, p.password, p.signedup, p.contact,p.about, p.tutoring {
    text-align: center;
}
}

p.homebox {
    margin: 0;
    padding: 3px 10px 0px 10px;
    font-size: 14px;
    overflow: auto;
}

p.homebox a {
    color: #888;
}

.textmap {
    margin: 0px;
    padding: 0px;
}

blockquote {
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
}






