{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Change Password | Nutcracker Tutoring{% endblock %}

{% block content %}

<h2>Change Password</h2>

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
           <p class="field-name">{{ field.label_tag }}</p>
        {{ field|add_class:'form-field' }}
        {% if field.help_text %}
           <span class="help-text">{{ field.help_text|striptags }}</span>
        {% endif %}
        {% for error in field.errors %}
           <p class="error-text">{{ error }}</p>
        {% endfor %}
     </p>
    {% endfor %}

    <button type="submit">Save changes</button>
  </form>
{% endblock %}
