{% extends 'base.html' %}

{% block title %}My Account | Nutcracker Tutoring{% endblock %}

{% block content %}

<h2>My Account</h2>

<section class="my_account">
<p class="account">Here are your account details:<br>
<b>Email/Username:</b> {{ user.email }}<br>
<b>First Name:</b> {{ user.first_name }}<br><br>

Your password has been stored securely. <a href="{% url "change_password" %}">Click here</a> to change your password.</p>
<br>

<p class="account">
You have permission to view the following videos:</p>
<ul class="account">
{% if perms.methodsvids.view_methods %}
<li>Methods</li>
	{% if perms.physicsvids.view_physics %}
	<li>Physics</li>
	{% endif %}
{% else %}
	{% if perms.physicsvids.view_physics %}
	<li>Physics</li>
	{% else %}
	<li>You currently do not have permission to view any videos. Please email me on nathan.goldwaser@gmail.com so I can update your permissions.</li>
	{% endif %}
{% endif %}

</ul>

</section>



{% endblock %}
