
{% extends "base.html" %}

{% block title %}{{ 'About | Nutcracker Tutoring' }}{% endblock %}


{% block content %}
{% load static %}

<p class="center-resize">

<img class="about" src="{% static 'core/about.jpg' %}" width="360" height="240">

From 2007 to 2010 I attended high school at Melbourne High where I completed my VCE. During school I competed in outside competitions in maths and physics, obtaining numerous high distinctions including the Outstanding Award for the University of Melbourne / BHP Billiton Maths Competition (top 25 in the state). I was also involved in a range of clubs including cadets, where I learnt many valuable skills, debating and even the school musicals.<br><br>

After high school I continued studying at Melbourne Uni and recently completed my Bachelor of Science majoring in Physics and minoring in Maths. During my time at uni I joined many clubs, my favourite being the Dancesport Club where I learnt many different styles of dance like salsa, ballroom, tango, swing and many more. I served many years on the committee and even later went on to become the President of the club which was heaps of fun and allowed me to work on my leadership skills, organisation, team work and communication.<br><br>

Apart from dancing I also enjoy playing guitar and volunteering with Lord Somers Camp and Powerhouse, an organisation that runs camps for kids and also disadvantaged groups in the community. Through this and also my past experience working in After School Care I've learnt to deal with kids very well.<br><br>

Since finishing high school in 2010 I've been tutoring and have taught a range of students and subjects from year 7 to year 12, specialising in VCE Maths (all streams), Physics and Chemistry. I also make study notes and video tutorials covering all units of VCE Maths Methods with more videos for Specialist Maths and VCE Physics coming soon.<br><br>

Check out my <a href="{% url "tutoring" %}">tutoring page</a> for more info about tutoring and also my <a href="{% url "videos" %}">video tutorials</a>. 
</p>



<br><br>

{% endblock %}














