
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}" />

<link href="https://fonts.googleapis.com/css?family=Comfortaa:b|Poppins:500|Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Flamenco" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="shortcut icon" href="{% static 'core/favicon.ico' %}" />


{% if user.is_authenticated %}
<ul class="login">
<li>Hi, {{ user.first_name }}
<small><a href="{% url "my_account" %}">(My account)</a></small></li>
<li>|</li>
<li><a href="{% url "logout" %}">Logout</a></li>
</ul>
{% else %}
<ul class="login">
<li><a href="{% url "signup" %}">Sign up</a></li>
<li>|</li>
<li><a href="{% url "login" %}">Login</a></li>
</ul>
{% endif %}

<h1>
<a href="{% url "home" %}">Nutcracker Tutoring</a>
</h1>

<nav>


<input type="checkbox" id="menu-toggle">
<label for="menu-toggle" class="label-toggle"><img src="{% static 'core/menu.png' %}" width="40" height="40"></label>
<div style="clear: both;"></div>
	<ul class="topnav" id="myTopnav">
		<li {% if section == "home" %}class="active"{% endif %}><a href="{% url "home" %}">Home</a></li>

		<li {% if section == "about" %}class="active"{% endif %}><a href="{% url "about" %}">About</a></li>

		<li {% if section == "tutoring" %}class="active"{% endif %}><a href="{% url "tutoring" %}">Tutoring</a></li>

		<li 
		{% if section == "videos" %}class="active"{% endif %}
		{% if section == "func_graph" %}class="active"{% endif %}
		{% if section == "trig" %}class="active"{% endif %}
		{% if section == "dif" %}class="active"{% endif %}
		{% if section == "antidif" %}class="active"{% endif %}
		{% if section == "discrete" %}class="active"{% endif %}
		{% if section == "prob_dist" %}class="active"{% endif %}
		><a href="{% url "videos" %}">Videos <i class="fa fa-caret-down" aria-hidden="true"></i></a>
			<ul>
				<li><a href="{% url "methods" %}">Methods</a></li>
				<li><a href="{% url "physics" %}">Physics</a></li>
			</ul>
		</li>

		<!--<li {% if section == "faq" %}class="active"{% endif %}><a href="{% url "faq" %}">FAQ</a></li>-->

		<li {% if section == "contact" %}class="active"{% endif %}><a href="{% url "contact" %}">Contact</a></li>
		
	</ul>
</nav>
<div style="clear: both;"></div>
