
{% extends "base.html" %}

{% block title %}{{ 'Tutoring | Nutcracker Tutoring' }}{% endblock %}


{% block content %}
{% load static %}

<p class="textabout"> 

<img class="imgabout" src="{% static 'core/tutoring.jpg' %}" width="360" height="240">

Starting in 2011, I've been tutoring for 6 years now and loving every minute. I understand the material very well and can teach in both a fun and effective manner. I strive to know the material thoroughly and always try to further my own education to keep up with new and changing curriculums. <br><br>

I completed my VCE certificate and graduated from Melbourne High in 2010 with an ATAR of 99.45 and obtaining raw scores of 48 for Specialist Maths, 47 for Maths Methods and 47 for Physics.<br><br>

After high school I completed the Bachelor of Science majoring in Physics and minoring in Maths from Melbourne Uni graduating with first class honours. While completing my course I also obtained high distinctions for my physics, maths and chemistry subjects.<br><br>

Since I've been through the VCE system myself I know how it works and the pressures that come with it as well as tricks to get through it. I'm also close to the student's age so I know how they think and learn and can connect with them and teach them at the level that they would understand best. <br><br>

If you want to know more or want some tutoring don't hesitate to contact me, my contact details can be found <a href="{% url "contact" %}">here</a>.
</p>



{% endblock %}





