<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">

<header>

	<title>{% block title %}{% endblock %}</title>

{% include 'topmenu.html' %}

</header>
</head>


<body>

<div>
	<div class="menu">
		<ul>
			<li class="subject">PHYSICS</li>
			<li {% if section == "motion" %}class="active"{% endif %}><a href="">Motion</a>
				<ul>
					<li><a href="{% url "incline_plane" %}">Incline Plane</a></li>
					<li><a href="{% url "newtons_laws" %}">Newton's 3 Laws</a></li>
				</ul>
			</li>



			<li {% if section == "fields" %}class="active"{% endif %}><a href="">Fields</a>
				<ul>
					<li><a href="">(Null)</a></li>
				</ul>
			</li>




		</ul>
	</div>
</div>






{% block content %}

{% endblock %}




</body>


</html>
